
@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}

.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}

/*******************
/*Top bar
*******************/
.topbar {
  background: #fff;
  box-shadow: 0 0 5px #666
}

.logo-center .topbar .navbar-header {
  background: transparent;
  box-shadow: none;
}

.logo-center .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
  display: none;
}

.logo-center .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
}

.topbar .navbar-nav>li{
  margin: 0 1px;
}
.topbar .navbar-nav .nav-link{
  color: #263238;
  padding: .5em .75em;
}
.topbar .navbar-nav a{
  font-size: .95em
}
.topbar .fa-sort-down:before{
  top: -3px;
  position: relative;
}

/*******************
/*General Elements
*******************/
a.link:hover, a.link:focus {
  color: #009efb !important;
}

.bg-theme {
  background-color: #009efb !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #009efb;
  border-color: #009efb;
}

.right-sidebar .rpanel-title {
  background: #009efb;
}

.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
  border-left: 4px solid #009efb;
}

.text-themecolor {
  color: #009efb !important;
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
  border-bottom: 2px solid #009efb;
  color: #009efb;
}

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
  color: #009efb;
}

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
  background: #009efb;
  color: #ffffff;
  border: 1px solid #009efb;
}

.btn-themecolor:hover,
.btn-themecolor.disabled:hover {
  background: #009efb;
  opacity: 0.7;
  border: 1px solid #009efb;
}

.btn-themecolor.active, .btn-themecolor:focus,
.btn-themecolor.disabled.active,
.btn-themecolor.disabled:focus {
  background: #028ee1;
}

/*******************
/*sidebar navigation
*******************/
.sidebar-nav {
  background: #fff;
}

.sidebar-nav ul li a {
  color: #333;
}

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
  color: #009efb;
}

.sidebar-nav ul li a.active {
  color: #263238;
}

.sidebar-nav ul li.nav-small-cap {
  color: #90a4ae;
}

.sidebar-nav > ul > li.active > a {
  border-left: 3px solid #009efb;
  color: #009efb;
}

.sidebar-nav > ul > li.active > a i {
  color: #aaa;
}

.sidebar-nav > ul > li > a {
  border-left: 3px solid #fff;
}

.sidebar-nav > ul > li > a.active, .sidebar-nav > ul > li > a:hover {
  border-left: 3px solid #009efb;
}

.sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
  color: #009efb;
}

.sidebar-nav > ul > li > a i {
  color: #666;
}

.sidebar-nav > ul > li > a.active {
  font-weight: 400;
  background: #ffffff;
  color: #009efb;
}

/***********
/*  Modal
/***********/
.modal-backdrop{
  display: none
}
.modal {
  max-width: 100%;
  right: inherit;
  bottom: inherit;
  left: 40%;
}
.modal-show{
  display: block;
  opacity: 1;
  top: 281px;
  overflow: visible;
  left: 178.797px;
}
.modal .modal-dialog{
  margin-right: 0;
  margin-left: 0;
  width: auto;
}
.modal .modal-body{
  font-size: .85em;
}
.modal .charge{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  opacity: 0.1;
}
.modal .fa-spin{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  font-size: 30px;
  margin-left: -15px;
  color: #333;
}
.modal-dialog {
	transition: all 1s;
}
@media (min-width: 576px){
  .modal-dialog {
	  max-width: 600px;
	  min-width: 220px;
  }
  .modal-lg {
	  max-width: 100%;
	  width: fit-content;
  }
}

/********
*  Loads
/********/
.privilegioLoad{display: none}
/********
*  Map
/********/
.ol-dragzoom {
  background-color: rgba(255,255,255,0.4);
  border-color: rgba(100,150,0,1);
}
.map-option-list{
  position: absolute;
  top: 0;
  left: 40px;
  background: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: none;
}
.map-option-list ul{
  list-style: none;
  padding: 1px 4px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-weight: 400;
  text-align: center;
}
.map-option-list li {
	float: left;
	padding: 0 7px;
	border-left: 1px solid #ccc;
	margin: auto;
}
.map-option-list li:first-child {
	border-left: 0
}
#zoomBox .map-option-list ul{
  width: 160px;
}
#measure .map-option-list ul{
  width: 130px;
}
#draw .map-option-list ul{
  width: 183px;
}
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
	  -ms-flex-direction: column;
		  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-body{
  padding: 15px;
}
.card label{
  display: block;
}